<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Summoner Search Results</h1>
    </div>

    <div class="row">
      <div class="col-md-2">
        <img src="<%= profile_icon_url(@summoner) %>">
      </div>
      <div class="col-md-10">
        <h2 class="qa-summoner-<%= @summoner.id %>">
          <%= @summoner.name %>
        </h2>
        <p>
          Level <%= @summoner.summoner_level %>
        </p>
      </div>
    </div>

  </div>
</div>
