<div class="row">
  <div class="col-12">
    <h1>Champions</h1>

    <ul class="list-group">
      <%= for champion <- @champions do %>
        <li class="list-group-item  qa-champion-<%= champion.key %>">
          <h2>
            <a class="qa-show" href="<%= champion_path(@conn, :show, champion) %>">
              <%= champion.name %>
            </a>
          </h2>
          <p>
            <%= champion.blurb %>
          </p>
        </li>
      <%= end %>
    </ul>
  </div>
</div>
